:root {
  --primary: #7A6FBE;
  --primary-dark: #695998;
  --secondary: #6C757D;
  --secondary-dark: #5C636A;
  --secondary-darker: #565E64;

  --white: #FFFFFF;
  --white-muted: #F5F5F5;
  --white-soft: #FAFAFA;
  --white-alpha: rgba(255, 255, 255, 0.1);
  --black: #1f2431;

  --gray: #1F2431;
  --gray-medium: #2A3142;
  --gray-light: #323A4E;

  --text-main: #79829C;
  --text-light: var(--gray);
  --text-light-alpha: rgba(31, 36, 49, 0.75);
  --text-dark: #ADB5BD;
  --text-dark-alpha: rgba(173, 181, 189, 0.75);

  --header-item-color-dark: #FFFFFFB3;
  --header-item-color-light: #555B6D;

  --border-dark: #3a445b;
  --border-light: #dee2e6;

  --recent-activity-item-bg-dark: #30384B;
  --recent-activity-item-bg-light: #F8F9FA;

  /*------------------------------*/

  --text-color-main: var(--text-main);

  --recent-activity-date: #8C96A3;
}

:root {
  --background-body: var(--white-muted);
  --background-sub-header: var(--gray-medium);
  --background-header: var(--white);
  --background-navbar: var(--white);

  --card-background: var(--white);
  --card-text-color: var(--text-light);

  --text-color: var(--text-light);
  --text-color-alpha: var(--text-light-alpha);

  --header-item-color: var(--header-item-color-light);
  --header-search-background: var(--white);

  --inbox-title-color: var(--gray-medium);

  --border-color: var(--border-light);

  --recent-activity-item-bg: var(--recent-activity-item-bg-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: var(--gray);
    --background-sub-header: var(--gray-medium);
    --background-header: var(--primary);
    --background-navbar: var(--gray-light);

    --card-background: var(--gray-medium);
    --card-text-color: var(--text-dark);

    --text-color: var(--white);
    --text-color-alpha: var(--white);

    --header-item-color: var(--header-item-color-dark);
    --header-search-background: var(--white-alpha);

    --inbox-title-color: var(--white);

    --border-color: var(--border-dark);

    --recent-activity-item-bg: var(--recent-activity-item-bg-dark);
  }
}

body {
  @apply bg-background-body;
}

.container {
  @apply px-3 max-w-[1323px] mx-auto;
}


