@import "./base.css";

@import "tailwindcss";
@config "../../tailwind.config.js";

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #D4D6D9;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }
}
